<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div  class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

          <table class="table">
            <thead>
              <tr>
                <th scope="col">_id</th>
                <th scope="col">courseTitle</th>
                <th scope="col">courseDescription</th>
                <th scope="col">courseDuration</th>
                <th scope="col">courseDate</th>
                <th scope="col">courseVenue</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i of data">
                <th scope="row">{{i._id}}</th>
                <td>{{i.courseTitle}}</td>
                <td>{{i.courseDescription}}</td>
                <td>{{i.courseDuration}}</td>
                <td>{{i.courseDate}}</td>
                <td>{{i.courseVenue}}</td>
              </tr>
          </table>
        
            
               
        </div>
    </div>
</div>
